<header></header>

<div class="row">
  <div class="col-md-3 filterPanel col-sm-12 col-xs-12">
    <mat-card style="padding-bottom: 10px!important; background-color: white;"><div style="cursor: pointer; font-weight: bold; vertical-align: middle; padding-bottom: 0px!important; height: 100%; width: 100%;" (click)="close()">Filtros</div></mat-card>
    <div *ngIf="isOpen" style="background-color: white;">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="row" style="padding-top: 15px!important; padding-left: 25px!important;">
                <img src="../../../assets/icons/filters/search.svg" alt="buscar" height="22px" class="img-title"> <p class="title">Nombre del hotel</p>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row" width="100%">
              <div class="col-md-7 col-sm-5 col-xs-5">
                <input class="inputName" placeholder="Ingrese el nombre del hotel" [(ngModel)]="nameFilter.value">
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2">
                <button class="button-Accept" mat-raised-button (click)="searchByName()">Aceptar</button>
              </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion style="background-color: white;">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title style="margin-top:5px;">
              <div class="row" style="padding-top: 15px!important; padding-left: 25px!important;">
                <img src="../../../assets/icons/filters/star.svg" alt="buscar" height="22px" class="img-title"> <p class="title">Estrellas</p>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row" width="100%">
              <div class="col-md-1 col-sm-1 col-xs-1" style="float: left; width: 10%;">
                <input type="checkbox" [(ngModel)]="activeCombos[0]" checked (change)="checkStars(0)" [disabled]="activeCombos[0]==true"> 
              </div>
              <div class="col-md-5 col-sm-5 col-xs-4" style="float: left; width: 70%;">
                Todas las Estrellas
              </div>
          </div>
          <div class="row" width="100%">
              <div class="col-md-1 col-sm-1 col-xs-1" style="float: left; width: 10%;">
                <input type="checkbox"[(ngModel)]="activeCombos[1]" (change)="checkStars(5)"> 
              </div>
              <div class="col-md-5 col-sm-5 col-xs-5" style="float: left; width: 70%;">
                <img src="../../../assets/icons/filters/star1.svg" height="15px">
                <img src="../../../assets/icons/filters/star1.svg" height="15px">
                <img src="../../../assets/icons/filters/star1.svg" height="15px">
                <img src="../../../assets/icons/filters/star1.svg" height="15px">
                <img src="../../../assets/icons/filters/star1.svg" height="15px">
              </div>
          </div>
          <div class="row" width="100%">
              <div class="col-md-1 col-sm-1 col-xs-1" style="float: left; width: 10%;">
                <input type="checkbox" [(ngModel)]="activeCombos[2]" (change)="checkStars(4)"> 
              </div>
              <div class="col-md-5 col-sm-5 col-xs-5" style="float: left; width: 70%;">
                <img src="../../../assets/icons/filters/star1.svg" height="15px">
                <img src="../../../assets/icons/filters/star1.svg" height="15px">
                <img src="../../../assets/icons/filters/star1.svg" height="15px">
                <img src="../../../assets/icons/filters/star1.svg" height="15px">
              </div>
          </div>
          <div class="row" width="100%">
              <div class="col-md-1 col-sm-1 col-xs-1" style="float: left; width: 10%;">
                <input type="checkbox" [(ngModel)]="activeCombos[3]" (change)="checkStars(3)"> 
              </div>
              <div class="col-md-5 col-sm-5 col-xs-5" style="float: left; width: 70%;">
                  <img src="../../../assets/icons/filters/star1.svg" height="15px">
                  <img src="../../../assets/icons/filters/star1.svg" height="15px">
                  <img src="../../../assets/icons/filters/star1.svg" height="15px">
              </div>
          </div>
          <div class="row" width="100%">
              <div class="col-md-1 col-sm-1 col-xs-1" style="float: left; width: 10%;">
                <input type="checkbox" [(ngModel)]="activeCombos[4]" (change)="checkStars(2)"> 
              </div>
              <div class="col-md-5 col-sm-5 col-xs-5" style="float: left; width: 70%;">
                  <img src="../../../assets/icons/filters/star1.svg" height="15px">
                  <img src="../../../assets/icons/filters/star1.svg" height="15px">
              </div>
          </div>
          <div class="row" width="100%">
              <div class="col-md-1 col-sm-1 col-xs-1" style="float: left; width: 10%;">
                <input type="checkbox" [(ngModel)]="activeCombos[5]" (change)="checkStars(1)"> 
              </div>
              <div class="col-md-5 col-sm-5 col-xs-5" style="float: left; width: 70%;">
                <img src="../../../assets/icons/filters/star1.svg" height="15px">
              </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>  
  </div>
  <div class="col-md-8 col-sm-12 col-xs-12 contentPanel">
    <div *ngFor="let hotel of hotels" style="padding-bottom:10px;">
        <mat-card style="padding-bottom: 10px!important; background-color: white;">
          <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
              <img src= "../../../assets/images/hotels/{{hotel.image}}" width="100%">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="row hotel-title">{{hotel.name}}</div>
              <div class="row images">
                <img *ngFor="let i of arrayOne(hotel.stars)" src="../../../assets/icons/filters/star1.svg" height="20px">
              </div>
              <div class="row images">
                  <img *ngFor="let i of hotel.amenities" src="../../../assets/icons/amenities/{{i}}.svg" height="20px" style="padding-right:10px;">
                </div>
            </div>
            <div class="col-md-3 verticalLine col-sm-12 col-xs-12" style="width: 100%;">
              <div class="row" style="width: 100%; padding: 0px; margin: 0px;"><p style="text-align: center; font-size: 14px; width: 100%">Precio por noche por <br/>habitación</p></div>
              <div class="row" style="width: 100%;">
                <div class="col-md-5 col-sm-4 col-xs-5" style="padding: 0px; margin: 0px;float: left; width: 50%;">
                  <p class="currency">ARS</p>
                </div>
                <div class="col-md-5 col-sm-4 col-xs-5" style="padding: 0px; margin: 0px; float: left; width: 50%;">
                  <p class="price">{{hotel.price}}</p>
                </div>
              </div>
              <div class="row" style="width: 100%;">
                <div style="width:100%; margin:auto 0px;">
                  <button mat-raised-button class="button-hotel">Ver hotel</button>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
    </div>
  </div>
</div>


